@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");

body {
  min-height: 100vh;
  background-image: linear-gradient(to right, transparent 0%, #2b0432),
    url(../public/space.png);
  background-color: #5d3974;
  background-size: cover;
}

@keyframes zoom {
  0% {
    transform: scale();
  }
  100% {
    transform: scale(1.25);
  }
}
